/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/legion/.idea/
/.idea/
*.key
# rspec failure tracking
.rspec_status
legionio.key
# logs and OS artifacts
legion.log
.DS_Store
# gem build artifacts
*.gem
# SQLite database files
*.db
.worktrees
/docs/
